* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #2b2b2b;
  --secondary-color: #3b3b3b;
  --caption-color: #858584;
  --text-color: #ffffff;
  --text-secondary-color: #cccccc;

  --call-color: #a259ff;
  --gradient-1: linear-gradient(68deg, #a259ff 0%, #ff6250 100%);
  --gradient-2: linear-gradient(36deg, #a259ff 0%, #377df7 100%);

  --font-size-h1: 4.2rem;
  --font-size-h2: 3.2rem;
  --font-size-h3: 2.4rem;
  --font-size-h4: 1.75rem;
  --font-size-h5: 1.375rem;
  --font-size-base: 1rem;
  --font-size-caption: 0.75rem;

  --line-height-110: 110%;
  --line-height-120: 120%;
  --line-height-140: 140%;
  --line-height-160: 160%;

  --font-space-mono: "Space Mono", monospace;
  --font-work-sans: "Work Sans", sans-serif;
}

img,
svg {
  display: block;
}
a {
  text-decoration: none;
}

input:focus,
textarea:focus {
  outline: none;
}
input {
  border: none;
}

body {
  font-family: var(--font-work-sans);
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--background-color);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--text-color);
  padding: 12px 20px;
}
.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  color: var(--text-color);
  padding: 0 50px;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-filled {
  background-color: var(--call-color);
}
.btn-filled:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--call-color);
}
.btn-filled:hover svg {
  color: var(--call-color);
}

.btn-outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px var(--call-color);
}
.btn-outline svg {
  color: var(--call-color);
}
.btn-outline:hover {
  background-color: var(--call-color);
}
.btn-outline:hover svg {
  color: var(--text-color);
}

.btn-auction {
  color: var(--background-color);
  background-color: var(--text-color);
}
.btn-auction svg {
  color: var(--call-color);
}

.nav-btn {
  padding: 20px 30px;
}

.btn-primary {
  height: 72px;
  font-size: var(--font-size-h5);
}

.btn-secondary {
  height: 60px;
  font-size: var(--font-size-base);
}

.btn-tertiary {
  height: 46px;
  font-size: var(--font-size-base);
}
/* ---------------   SECTIONS ------------------*/
.hero-section,
.collection-section,
.creators-section,
.category-section,
.catalog-section,
.subscribe-section,
.artist-section {
  padding: 80px 0;
}
.collection-wrap,
.creators-wrap,
.category-wrap,
.catalog-wrap,
.artist-wrap {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.container {
  max-width: 82%;
  margin: 0 auto;
}
.section-head {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: end;
}
.section-headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-title {
  font-size: var(--font-size-h3);
  font-weight: 600;
  line-height: var(--line-height-120);
  text-transform: capitalize;
}
.section-subtitle {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-160);
  text-transform: capitalize;
}
.section-content {
  display: grid;
  gap: 30px;
}

/* -------- HERO SECTION ------------*/
.hero-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;

  gap: 30px;

  grid-template-areas:
    "hero-info   hero-card"
    "hero-btn    hero-card"
    "hero-stats  hero-card";
}

.hero-info {
  grid-area: hero-info;
}
.hero-title {
  margin-bottom: 20px;
  font-size: var(--font-size-h1);
  font-weight: 600;
  text-transform: capitalize;
  line-height: var(--line-height-110);
}
.hero-desc {
  font-size: var(--font-size-h5);
  text-transform: capitalize;
  line-height: var(--line-height-160);
}
.hero-btn {
  grid-area: hero-btn;
  display: flex;
}

.hero-stats {
  grid-area: hero-stats;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.stats-item {
}
.stats-count {
  font-size: var(--font-size-h4);
  font-style: var(--font-space-mono);
  font-weight: 700;
  line-height: var(--line-height-140);
}
.stats-name {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-160);
}
.hero-card {
  grid-area: hero-card;
  background-color: var(--secondary-color);
  border-radius: 20px;
  overflow: hidden;
}
.hero-img {
  width: 100%;
  object-fit: cover;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 22px 20px;
}
.hero-card-author,
.collection-author,
.nft-author {
  display: flex;
  gap: 12px;
  align-items: center;
}
.hero-card-author img,
.collection-author img,
.nft-author img,
.auction-author img {
  border-radius: 100%;
  width: 24px;
  height: 24px;
}
.hero-card-author p,
.collection-author-name,
.nft-author-name,
.auction-author-name {
  font-size: var(--font-size-base);
  line-height: var(--line-height-140);
}
.hero-card-title,
.collection-title,
.nft-title {
  font-size: var(--font-size-h5);
  font-weight: 600;
  text-transform: capitalize;
  line-height: var(--line-height-140);
}

/* --------- COLLECTION SECTION -------- */
.collection-section .section-content {
  grid-template-columns: repeat(3, 1fr);
}

.collection-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-template-areas: "item-big item-big item-big";
}

.collection-item.item-big {
  grid-area: item-big;
}
.collection-item,
.collection-count {
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
}
.collection-item img {
  width: 100%;
  object-fit: cover;
}
.collection-count {
  background-color: var(--call-color);
  padding: 32px 16px;
}
.collection-count p {
  font-family: var(--font-space-mono);
  font-size: var(--font-size-h5);
  font-weight: 700;
  line-height: var(--line-height-160);
  text-align: center;
}
.collection-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* -------- CREATORS SECTION -------*/
.creators-section .section-content {
  grid-template-columns: repeat(4, 1fr);
}
.creator-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.creator-avatar {
  aspect-ratio: 1/1;
}
.creator-avatar img {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.creator-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.creator-name {
  font-size: var(--font-size-h5);
  font-weight: 600;
  line-height: var(--line-height-140);
}

.creator-stats {
  display: flex;
  gap: 10px;
}
.creator-stats-name {
  color: var(--caption-color);
  font-size: var(--font-size-base);
  line-height: var(--line-height-140);
  text-transform: capitalize;
}
.creator-stats-value {
  font-family: var(--font-space-mono);
  color: var(--text-color);
  text-transform: uppercase;
  font-size: var(--font-size-base);
  line-height: var(--line-height-140);
}
.creator-rating {
  background-color: var(--background-color);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  position: absolute;
  left: 20px;
  top: 18px;
}
.creator-rating p {
  font-family: var(--font-space-mono);
  line-height: var(--line-height-140);
  color: var(--caption-color);
}

/* -------- CATEGORY SECTION ---------*/
.category-section .section-content {
  grid-template-columns: repeat(4, 1fr);
}
.category-card {
  border-radius: 20px;
  background-color: var(--secondary-color);
  overflow: hidden;
}

.category-img {
  padding: 70px;
  position: relative;
  background: url("assets/category/category-art.svg");
  background-size: cover;
}

.category-img::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
}
.category-img img {
  width: 100px;
  height: 100px;
  position: relative;
}
.category-info {
  padding: 20px 30px 25px;
}
.category-name {
  font-size: var(--font-size-h5);
  font-weight: 600;
  line-height: var(--line-height-140);
}

/* -------- CATALOG SECTION ---------*/
.catalog-section .section-content {
  grid-template-columns: repeat(3, 1fr);
}

.catalog-card {
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

.nft-img img {
  width: 100%;
  object-fit: cover;
}

.nft-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px 30px 25px;
}

.nft-top-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nft-bottom-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nft-feature:nth-of-type(2n) {
  justify-self: end;
  text-align: end;
}

.nft-feature {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: var(--font-space-mono);
}

.nft-feature-name {
  color: var(--caption-color);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-110);
}
.nft-feature-value {
  font-size: var(--font-size-base);
  line-height: var(--line-height-140);
}

/* -------- AUCTION SECTION ---------*/

.auction-section {
  padding: 360px 0 60px;
  background: url("assets/collection/collection-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.auction-section::before {
  content: "";
  position: absolute;
  inset: 0; /* top 0 left 0 right 0 bottom 0 */
  background: linear-gradient(
    180deg,
    rgba(162, 89, 255, 0) 0%,
    rgba(162, 89, 255, 1) 100%
  );
}

.auction-wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
}
.auction-head {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  width: 100%;
}

.auction-author {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  color: var(--text-color);
}

.auction-title {
  font-size: var(--font-size-h2);
  font-weight: 600;
  line-height: var(--line-height-110);
  text-transform: capitalize;
}

.auction-timer {
  background: rgba(59, 59, 59, 0.5);
  border-radius: 20px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-space-mono);
}

.auction-timer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(59, 59, 59, 0.1);
  filter: blur(10px);
}
.auction-text,
.auction-time {
  position: relative;
}

.auction-text,
.auction-time-item {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-110);
}
.auction-time {
  display: flex;
  gap: 10px;
}
.auction-time-value {
  font-size: var(--font-size-h3);
  font-weight: 700;
  line-height: var(--line-height-120);
  margin-bottom: 5px;
}
.auction-colon {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-140);
  font-weight: 700;
}

/* -------- SUBSCRIBE SECTION ---------*/
.subscribe-section .subscribe-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  align-items: center;
  padding: 60px;
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.subscribe-img {
  border-radius: 20px;
  overflow: hidden;
}

.subscribe-img img {
  width: 100%;
  object-fit: cover;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.subscribe-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscribe-title {
  font-size: var(--font-size-h3);
  font-weight: 600;
  line-height: var(--line-height-120);
  text-transform: capitalize;
}

.subscribe-desc {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-160);
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
}
.subscribe-form .form-input {
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  height: 60px;
}
.form-input::placeholder {
  font-family: var(--font-work-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-140);
  color: var(--background-color);
}

.subscribe-form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
}

/* -------- FOOTER SECTION ---------*/
footer {
  background-color: var(--secondary-color);
  padding: 40px 0;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-content {
  display: grid;
  grid-template-columns: 3fr 2fr 4fr;
  padding: 0 30px;
}
.footer-content-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-content-title {
  font-family: var(--font-space-mono);
  font-size: var(--font-size-h5);
  line-height: var(--line-height-160);
  font-weight: 700;
  text-transform: capitalize;
}
.footer-desc {
  font-size: var(--font-size-base);
  line-height: var(--line-height-140);
  color: var(--text-secondary-color);
}
.footer-content-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-content-block .desc-1 {
  max-width: 238px;
}
.footer-content-block .desc-2 {
  max-width: 330px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-social-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-social-item {
  color: var(--caption-color);
}
.footer-social-item:hover {
  color: var(--text-secondary-color);
}
.footer-social-item svg {
  width: 32px;
  height: 32px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-link {
  color: var(--text-secondary-color);
  font-size: var(--font-size-base);
  line-height: var(--line-height-140);
}

.footer-bottom {
  border-top: 1px solid var(--caption-color);
  padding-top: 20px;
}

.footer-copyright {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-110);
  color: var(--text-secondary-color);
}

/* -------- NFTPAGE  ---------*/
/* -------- NFT SECTION  ---------*/
.nft-banner {
  height: 560px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.nft {
  padding: 40px 0;
}
.nft__wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 150px;
}
.nft__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nft__headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: capitalize;
}
.nft__title {
  font-size: var(--font-size-h2);
  font-weight: 600;
  line-height: var(--line-height-110);
}
.nft__subtitle {
  color: var(--caption-color);
  font-size: var(--font-size-h5);
  line-height: var(--line-height-160);
}
.nft__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nft__info-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nft__label {
  font-family: var(--font-space-mono);
  text-transform: capitalize;
  font-size: var(--font-size-h5);
  font-weight: 700;
  line-height: var(--line-height-160);
  color: var(--caption-color);
}

.nft__desc {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-160);
}
.nft__link {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--font-size-h5);
  line-height: var(--line-height-160);
  color: var(--text-color);
  svg {
    color: var(--caption-color);
    width: 32px;
    height: 32px;
  }
}
.nft__tags {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nft__tags-list {
  display: flex;
  gap: 20px;
}
.tag {
  display: inline-block;
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 12px 30px;
}
.tag__name {
  text-transform: uppercase;
  font-size: var(--font-size-base);
  font-weight: 600;
  line-height: var(--line-height-140);
}
.artist-section .section-head {
  align-items: start;
}

.artist-section .section-content {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  column-gap: 30px;
}
